.figure {
  padding: 10px;
  background-color: white;
  border: 4px outset var(--background--color);
  border-radius: var(--border--radius);
  box-shadow: .5rem .5rem .7rem var(--text--color);
  transition: all 0.3s ease-in-out;
  filter: grayscale(1);
}

.figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border--radius);
  font-size: 1.5rem;
  background-color: var(--secondary--background--color);
  border: 2px inset var(--text--color);
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
}

.figure:hover {
  transform: scale(1.5);
  filter: grayscale(0);
  box-shadow: 0 0 5rem var(--text--color);
  z-index: 1;
}

.figure:hover figcaption {
  background-color: black;
  color: white;
}