.figure {
  padding: 10px;
  background-color: white;
  width: 108px;
  border: 2px outset var(--background--color);
  border-radius: var(--border--radius);
  box-shadow: .5rem .5rem .7rem var(--box-sahow--color);
  transition: all 0.3s ease-in-out;
}

.figure img {
  filter: grayscale(1);
}

.figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border--radius);
  font-size: 1.5rem;
  background-color: var(--secondary--background--color);
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
}

.figure:hover {
  box-shadow: 0 0 5rem var(--box-sahow--color);
  z-index: 1;
  border: 2px outset var(--box-sahow--color);
  transform: translateX(calc(50% - 54px)) translateY(calc(50% - 81px)) scale(1.5);
}

.figure:hover img {
  filter: grayscale(0);
}

.figure:hover figcaption {
  background-color: black;
  color: white;
}