.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 8.6rem;
  width: 100%;
  position: relative;
  align-self: end;
}

.input {
  height: 3rem;
  padding: .3rem 1rem;
  border-radius: var(--border-radius);
  color: var(--background--color);
  background-color: var(--text--color);
  font-size: 1.5rem;
}

.label {
  margin: .5rem;
  font-family: var(--form-label--font);
  font-size: 1.5rem;
  transition: all 0.4s ease-in-out;
}

.labelMove {
  margin: 0;
  transform: translateY(2.3rem) translateX(5rem);
  color: var(--background--color);
}

.error {
  color: red;
  height: 2.5rem;
  padding: 0.5rem 0 .5rem 1rem;
  font-size: 1.5rem;
  text-align: left;
}