.h-60 {
  display: block;
  height: 60px;
  font-size: 25px;
  color: var(--text--color);
}

.rotate {
  -webkit-animation: rotation 0.5s both linear;
          animation: rotation 0.5s both linear;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}

.rotateFR {
  -webkit-animation: rotationFR 0.5s both linear;
          animation: rotationFR 0.5s both linear;
}

@-webkit-keyframes rotationFR {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes rotationFR {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
