@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

:root, .dark {
  /* --bg--img--home: url("../public/fond_code_ligth.webp"); */
  --text--color: rgb(221, 221, 221);
  --background--color: rgb(36, 36, 36);
  --form-label--font: "Young Serif", "arial", "sans serif";
  --border-radius: .8rem;
}

@media (prefers-color-scheme: light) {
  :root {
    /* --bg--img--home: url("../public/fond_code_dark.webp"); */
    --text--color: rgb(36, 36, 36);
  --background--color: rgb(221, 221, 221);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--text--color);
}

html,
body {
  max-width: 100dvw;
  font-size: 62.5%; /* 1 rem = 10px */
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--background--color);
}
