.container {
  position: relative;
  min-width: 300px;
  width: 95%;
  margin: 10px 0;
  padding: 10px;
  border-radius: var(--border--radius);
  font-size: 1.5rem;
  font-family: var(--font--inter), Courier, monospace;
  background-color: var(--secondary--background--color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.illustration {
  object-fit: contain;
  border-radius: var(--border--radius);
  width: auto;
  height: 100%;
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.miniature {
  position: relative;
  width: 40%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  overflow: hidden;
  border-radius: var(--border--radius);
}

.project-infos {
  z-index: 1;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50px auto 50px;
  grid-template-areas:
    "title title"
    "description description"
    "lien_code lien_site";
}

.description {
  grid-area: description;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  white-space: pre-line;
}

.title {
  grid-area: title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lien {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lien a {
  border: 2px solid var(--text--color);
  padding: 5px 10px;
  border-radius: 10px;
}

.lien a:hover {
  border-color: var(--background--color);
  color: var(--background--color);
  background-color: var(--text--color);
}

.code {
  grid-area: lien_code;
}

.site {
  grid-area: lien_site;
}

.tilt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  border-radius: var(--border--radius) var(--border--radius) 0 0;
}

.tilt svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 200px;
}

.tilt-rotate {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.shape-fill {
  fill: var(--box--tilt--color);
}

@media (width >= 576px) {
  .container {
    height: 300px;
  }
  .reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .miniature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .project-infos {
    width: 60%;
  }

  .tilt-rotate {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}
