.container {
  position: relative;
  min-width: 300px;
  width: 95%;
  margin: 10px 0;
  padding: 10px;
  border-radius: var(--border--radius);
  font-size: 1.5rem;
  font-family: var(--font--inter), Courier, monospace;
  background-color: var(--secondary--background--color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reverse {
  flex-direction: row;
}

.miniature {
  position: relative;
  width: 40%;
  height: 100%;
  /* background-color: var(--background--color); */
  justify-content: center;
  align-items: center;
  display: none;
  /* overflow: hidden; */
  border-radius: var(--border--radius);
}

.illustration {
  border-radius: var(--border--radius);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-infos {
  z-index: 1;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50px auto 50px;
  grid-template-areas:
    "title title"
    "description description"
    "lien_code lien_site";
}

.description {
  grid-area: description;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  white-space: pre-line;
}

.title {
  grid-area: title;
  display: flex;
  justify-content: center;
}

.lien {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lien a {
  border: 2px solid var(--text--color);
  padding: 5px 10px;
  border-radius: 10px;
}

.lien a:hover {
  border-color: var(--background--color);
  color: var(--background--color);
  background-color: var(--text--color);
}

.code {
  grid-area: lien_code;
}

.site {
  grid-area: lien_site;
}

.tilt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  border-radius: var(--border--radius) var(--border--radius) 0 0;
}

.tilt svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 200px;
}

.tilt-rotate {
  transform: rotateY(0);
}

.shape-fill {
    fill: var(--box--tilt--color);
}

@media (width >= 576px) {

  .reverse {
    flex-direction: row-reverse;
  }

  .miniature {
    display: flex;
  }

  .project-infos {
    width: 60%;
  }

  .tilt-rotate {
    transform: rotateY(180deg);
  }
}
