.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 300px;
  width: 95%;
  margin: 10px 0;
  border-radius: var(--border--radius);
  -webkit-box-shadow: 0 0 1rem var(--project--card--shadow);
  box-shadow: 0 0 1rem var(--project--card--shadow);
  padding: 10px;
  background-color: var(--secondary--background--color);
  font-family: var(--font--inter), Courier, monospace;
  font-size: 1.5rem;
}

.illustration {
  height: 100%;
  width: auto;
  border-radius: var(--border--radius);
  -o-object-fit: contain;
  object-fit: contain;
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.miniature {
  position: relative;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 40%;
  border-radius: var(--border--radius);
  overflow: hidden;
}

.project-infos {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50px auto 50px;
  grid-template-areas:
    "title title"
    "description description"
    "lien_code lien_site";
  width: 100%;
  z-index: 1;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  font-size: 1.5rem;
  grid-area: description;
  white-space: pre-line;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-area: title;
}

.lien {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid var(--text--color);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 5px 10px;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.lien:hover {
  border-color: var(--background--color);
  background-color: var(--text--color);
  color: var(--background--color);
}

.code {
  grid-area: lien_code;
}

.site {
  grid-area: lien_site;
}

.tilt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: var(--border--radius) var(--border--radius) 0 0;
  line-height: 0;
  overflow: hidden;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.tilt svg {
  position: relative;
  display: block;
  height: 200px;
  width: calc(100% + 1.3px);
}

.tilt-rotate {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.shape-fill {
  fill: var(--box--tilt--color);
}

@media (width >= 576px) {
  .container {
    height: 300px;
  }
  .reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .miniature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .project-infos {
    width: 60%;
  }

  .tilt-rotate {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
