.container {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: max-content;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  padding: 2rem;
  background-color: var(--background--color);
  transition: left .3s ease-in-out;
}

.move {
  left: 0;
}

.burger {
  position: fixed;
  z-index: 2;
  border: 2px solid var(--text--color);
  border-radius: var(--border--radius);
  background-color: var(--background--color);
  padding: 5px;
}

.close {
  position: absolute;
}

.icone {
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
}

.navBar {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navBar__Item {
  padding: 5px 0;
  font-size: 1.5rem;
  line-height: 4rem;
}

@media (width > 550px) {
  .container {
    position: sticky;
    flex-direction: row;
    background-color: unset;
    background-image: linear-gradient(var(--header--background--top), var(--header--background--bottom));
    backdrop-filter: blur(15px);
  }

  .burger, .close {
    visibility: hidden;
  }

  .navBar {
    flex-direction: row;
  }

  .navBar__Item {
    padding: 5px 15px;
    line-height: unset;
  }
}