.container {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--background--color);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.openMenu {
  height: 31.5rem;
}

.move {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.burger {
  z-index: 3;
  position: fixed;
  border: 2px solid var(--text--color);
  border-radius: var(--border--radius);
  background-color: var(--background--color);
  padding: 5px;
}

.close {
  position: absolute;
}

.icone {
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
}

.navBar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.navBar__Item {
  padding: 5px 0;
  font-size: 1.5rem;
  line-height: 4rem;
}

@media (width >= 576px) {
  .container {
    position: -webkit-sticky;
    position: sticky;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: unset;
    background-image: -webkit-gradient(
      linear,
      left top, left bottom,
      from(var(--header--background--top)),
      to(var(--header--background--bottom))
    );
    background-image: -o-linear-gradient(
      var(--header--background--top),
      var(--header--background--bottom)
    );
    background-image: linear-gradient(
      var(--header--background--top),
      var(--header--background--bottom)
    );
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
  }

  .menu {
    position: relative;
    left: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: unset;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .burger,
  .close {
    visibility: hidden;
  }

  .navBar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .navBar__Item {
    padding: 5px 15px;
    line-height: unset;
  }
}
