.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  width: 7rem;
  margin: 0 0 15px 0;
  border-radius: 2.5rem;
  padding: 0 1rem;
  background-color: var(--text--color);
  color: var(--background--color);
  font-size: 2rem;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button {
  position: absolute;
  top: calc(50% - 1.25rem);
  left: 0.8rem;
  height: 2.5rem;
  width: 2.5rem;
  border: 0.2rem solid var(--background--color);
  border-radius: 2.5rem;
  background-color: var(--text--color);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.buttonMove {
  left: calc(100% - 3.3rem);
}

.themeIcon {
  height: auto;
  width: 1.7rem;
  fill: var(--background--color);
}

@media (width >= 576px) {
  .container {
    margin: unset;
  }
}
