.ancre {
  scroll-margin-top: var(--scroll-margin--top);
  z-index: 1;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-attachment: fixed;
  background-image: var(--bg--img--contact);
}

.container::before {
  position: absolute;
  top: 10%;
  left: 10%;
  -webkit-box-shadow: 0 0 20rem 8rem rgba(var(--primary--color), .5);
  box-shadow: 0 0 20rem 8rem rgba(var(--primary--color), .5);
  content: "";
  z-index: 0;
}
